@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}
body
{
    background: url(/image/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container
{
    width: 500px;
    height: 400px;
    background-color: #1c1c1c;
    opacity: 0.9;
    padding: 30px;
    overflow: hidden;
}
body .container form h1
{
    text-align: center;
    color: aqua;
}
body .container form p
{
    padding-top: 10px;
    text-align: justify;
    color: aqua;
    margin-bottom: 30px;
}
body .container form p a
{
    text-decoration: none;
    color: yellow;
}
body .container form p a:hover
{
    font-size: 17px;
}
body .container form label
{
    font-size: 20px;
    color: aqua;
}
body .container form input
{
    margin-top: 15px;
    position: relative;
    color: aqua;
    width: 100%;
    height: 30px;
    font-size: 17px;
    opacity: 0.9;
    background-color: #111;
    border: none;
    padding-left: 4px;
    border: solid 1px teal;
    outline: none;
}
body .container form input::placeholder
{
    color: teal;
    outline: none;
}
body .container form button
{
    margin-top: 30px;
    position: relative;
    color: aqua;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: solid aqua 2px;
}
body .container form button:hover
{
    box-shadow: 0 3px 15px aqua;
}
body .container .weather
{
    margin-top: 20px;
    background-color: #111;
    height: 100px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    font-family: 'Poppins';
    /* flex-direction: column; */
}
body .container .weather .left
{
    width: 80%;
}
body .container .weather .left h3
{
    color: aqua;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 3px;
}
body .container .weather .left h1
{
    color: yellow;
    font-weight: 500;
    font-size: 18px;
    margin-top: 35px;
}
body .container .weather .left h1 span
{
    color: red;
    font-weight: 500;
}
body .container .weather .left h1 b
{
    color: aqua;
    font-weight: 500;
}

body .container .weather .right
{
    width: 20%;
}
body .container .weather .right img
{
    height: 100px;
    width: 100px;
    z-index: 100;
}
body .container .weather .right img:hover
{
    transform: scale(1.05);
}